body,html
	line-height: 1
	font-weight: 200
	font-family: 'PingFang SC','STHeitiSC-Light',arial,'Helveica-Light','Microsoft YaHei'

.clearfix
	display: inline-block
	&:after
		display: block
		content: ''
		height: 0
		line-height: 0
		visibility: hidden
		clear: both
		
