width-change()
	@media screen and (min-width: 992px)
		width: 960px
	@media screen and (min-width: 1280px)
		width: 1200px

paralle-bgColor($deg, $color, $width)
	background: linear-gradient($deg, transparent 35px, $color 0)
	width: $width
